<body>
<nav class="navbar navbar-expand-lg navbar-light bg-white ps-3">
  <h1 class="navbar-brand"></h1>
</nav>
<div class="container mt-3">
  <div class="row mb-2 d-flex justify-content-center">
    <img class="round-image" ngSrc="assets/imran.jpg" width="4077" height="4016" alt="">
  </div>
  <div class="row mb-2 d-flex justify-content-center">
    <p id="animatedText">
      <span>{{ displayedText.substring(0, preNameText.length) }}</span>
      <span id="my-name"
            *ngIf="displayedText.length > preNameText.length">{{ displayedText.substring(preNameText.length, preNameText.length + name.length) }}</span>
      <span
        *ngIf="displayedText.length > (preNameText.length + name.length)">{{ displayedText.substring(preNameText.length + name.length) }}</span>
    </p>
  </div>
  <div class="my-container">
    <h3>SKILLS</h3>
    <p>Python | JavaScript | Django | Angular <br> Docker | Kubernetes | SQL | DBMS </p>
  </div>
  <div class="my-container">
    <h3>CONTACT</h3>
    <div class="social-icons">
      <a href="mailto:imranimon1@gmail.com" target="_blank" title="imranimon1@gmail.com">
        <fa-icon [icon]="faEnvelope" class="icon"></fa-icon>
      </a>

      <a href="https://github.com/imranimon/" target="_blank">
        <fa-icon [icon]="faGithub" class="icon"></fa-icon>
      </a>

      <a href="https://www.linkedin.com/in/md-imran-hossain-imon/" target="_blank">
        <fa-icon [icon]="faLinkedin" class="icon"></fa-icon>
      </a>

      <a href="https://www.facebook.com/imranhossenimon/" target="_blank">
        <fa-icon [icon]="faFacebook" class="icon"></fa-icon>
      </a>
    </div>
    <p class="text-email">
      <a href="mailto:imranimon1@gmail.com">imranimon1@gmail.com</a>
    </p>
  </div>
</div>
<footer class="footer">
  ©{{currentYear}} Md Imran Hossain Imon.
</footer>
</body>
